<div class="container">
  <form id="palindrome-form">
    <textarea
      class="form-control"
      placeholder="Enter palindrome here..."
      name="phrase"
      id="palindrome"
    ></textarea>

    <input type="submit" id="check" class="btn btn-primary" />
  </form>
</div>