* {
  box-sizing: border-box;
}
.show-hidden {
  display: none;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  text-align: center;
}

#attempts {
  list-style-position: inside;
  padding-right: 40px;
}

.btn-primary {
  margin-top: 15px;
}
#error p {
  color: firebrick;
}
