<div class="container">
  <form id="searchForm">
    <label class="form-label" for="search_term">Search Movies</label>
    <input
      type="text"
      class="form-control"
      placeholder="Search..."
      name="search_term"
      id="search_term"
    />

    <input type="button" value="Search" id="search" class="btn btn-primary" />
  </form>
  <a href="/" class="homelink-show" id="homeLink">Back to all shows</a>

</div>